body{
    margin: 0px;
}
header{
    background: url(./img/header-img.jpg) center/cover no-repeat ;
    border-bottom: 4px solid white;
}
.bg-color{
    background-color: rgba(248, 247, 216, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.header-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}
.header-logo-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-main-menu{
    margin-left: 168px;
}
.header-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type:none;
    text-decoration: none;
    color: #ffffff;
}
.header-item{
    font-family: 'Inter', sans-serif;
    list-style-type:none;
    text-decoration: none;
}
.header-item-link{
    text-decoration: none;
    color:#ffffff;
}
.header-item-link-main{
    text-decoration: none;
    color: #94CFFF;
    font-family: 'Inter', sans-serif;
}
.header-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-btn{
    width: 141px;
    height: 41px;
    background-color: #0B0E66;
    color: #26C7EA;
    border-color: #26C7EA;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    box-shadow: none;
}
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 36px;
    height: 20px;
    border-color: white;
    border: 2px solid white;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 5px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 20px;
  }
  
  // centering
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.promo{
    display: flex;
    height: 740px;
    background: url(./img/promo.jpg) center/cover no-repeat;
}
.promo-block{
    justify-content: center;
    align-items:center;
}
.btn-promo{
    justify-content: space-around;
    align-items:center;
    width: 260px;
    height: 80px;
    background-color: #0B0E66;
    color: #26C7EA;
    border-color: #26C7EA;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    box-shadow: none;
}
.trailer{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 0 auto;
    height: 741px;
    background-image: url(./img/trailer.jpg);
    background-size: cover;
}
.btn-trailer{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 260px;
    height: 80px;
    background-color: #0B0E66;
    color: #26C7EA;
    border-color: #26C7EA;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    box-shadow: none;
}
.btn-div-trailer{
    display: flex;
    justify-content: center;
    align-items:center;
}
.learning-language-navi{
    width: auto;
    height: 704px;
    background-image: url(./img/language-navi.jpg);
    background-size: cover;

}
.learning-language-navi-block{

}
.language-ul{
    display: flex;
    align-items:center;
    justify-content: center;
}
.language-li{
    width: 320px;
    height: 240px;
    text-decoration: none;
    list-style: none;
    background-color: #ffffffb7;
}
.footer{
    background-image: url(./img/footer-img.jpg);
    width: auto;
    height: 223px;
    background-size:cover;
}
.phrase-about-people{
    width: 0 auto;
    height: 350px;
    background-color:white;
}
.phrase-about-people-div{
    display: flex;
    justify-content: center;
    align-items:center;
}