.container{
    height: 150px;
    width: 0 auto;
    background-image: url(./img/header-img.jpg);
    background-size:cover;
    text-decoration: none;
    border-bottom: 4px solid white;
}
.header-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type:none;
}
.header-item{
    font-family: 'Cedarville Cursive', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Varela Round', sans-serif;
}
.header-item{
    list-style-type:none;
}
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 36px;
    height: 20px;
    border-color: white;
    border: 2px solid white;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 20px;
  }
  
  // centering
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.promo{
    display: flex;
    width: 0 auto;
    height: 740px;
    background-image: url(./img/promo.jpg);
    background-size: cover;
}
.promo-block{
    justify-content: center;
    align-items:center;
}
.btn-promo{
    justify-content: space-around;
    align-items:center;
    width: 260px;
    height: 80px;
    background-color: #0B0E66;
    color: #26C7EA;
    border-color: #26C7EA;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    box-shadow: none;
}
.trailer{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 0 auto;
    height: 741px;
    background-image: url(./img/trailer.jpg);
    background-size: cover;
}
.btn-trailer{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 260px;
    height: 80px;
    background-color: #0B0E66;
    color: #26C7EA;
    border-color: #26C7EA;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    box-shadow: none;
}
.btn-div-trailer{
    display: flex;
    justify-content: center;
    align-items:center;
}
.learning-language-navi{
    width: auto;
    height: 704px;
    background-image: url(./img/language-navi.jpg);
    background-size: cover;

}
.learning-language-navi-block{

}
.language-ul{
    display: flex;
    align-items:center;
    justify-content: center;
}
.language-li{
    width: 320px;
    height: 240px;
    text-decoration: none;
    list-style: none;
    background-color: #ffffffb7;
}
.footer{
    background-image: url(./img/footer-img.jpg);
    width: auto;
    height: 223px;
    background-size:cover;
}
.phrase-about-people{
    width: 0 auto;
    height: 350px;
    background-color:white;
}
.phrase-about-people-div{
    display: flex;
    justify-content: center;
    align-items:center;
}